body,
footer {
  background-color: #3d3d3d;
}

body {
  min-height: 60vh;
}

a {
  text-decoration: none;
}

.page {
  background-color: white;
}

.page .container {
  width: 960px;
  margin: 0px auto;
}